.LoginForm, .ClockInForm{
			padding: 10px;
			background: #ff69b4;
			text-align: center;
			font-family: cursive;
		}
		td{
			text-align: center;
		}
		body
		{
		background-image: url("images/back1.jpg");
		}
		.MainMenuBackGround{
			background-color: black;
    		position: absolute;
    		width: 50vmin;
    		height: 25vmin;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
    		opacity: 0.3;
    		color: black;
		}
		.MainMenu{
			position: absolute;
    		width: 50vmin;
    		height: 25vmin;
    		top: 50%;
    		left: 50%;
    		transform: translate(-50%, -50%);
		}
		.MainMenuItem, #MainMenuItem{
			width: 50%;
			float: left;
			height: 50%;
			text-align: center;
			line-height: 100px;
			-webkit-box-shadow:inset 0px 0px 0px 2px black;
   			-moz-box-shadow:inset 0px 0px 0px 2px black;
    		box-shadow:inset 0px 0px 0px 2px black;
    		cursor: pointer;
		}
		.MainMenuItem:hover{
			background-color: black;
			color: white;
		}